.container{
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.5)),url(https://t3.ftcdn.net/jpg/06/26/86/32/240_F_626863279_DJt9b53v1JtNJqQYSOBUJFvy0Q1xcB5z.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}